

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-image: url('./img/joshua-reddekopp-7Oq9r2CiTLg-unsplash.jpg');
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 25rem;
  width: 20rem;
  background-color: rgba(205, 205, 205, 0.852);
  text-align: center;
  padding: 12px;
  border-radius: 16px;
  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.icon{
  width: 90px;
}