

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(123, 184, 104), rgb(13, 87, 10));
  font-size: 2rem;
  font-family: sans-serif;
  color: rgb(7, 9, 10);
}
.container {
  height: 20rem;
  width: 15rem;
  background-color: rgb(152, 228, 165);
  text-align: center;
  padding-top: 12px;
  border-radius: 16px;
  border: 2px solid rgb(14, 43, 1);
}